[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
pyqt5-tools = "*"
pyinstaller = "*"
sockets = "*"
opencv-python = "*"
numpy = "*"
opencv-contrib-python = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
